#container {
  margin: 16px auto;
  width: 95%;
  height: 95%;
  justify-content: center;
}

#editor {
  height: 20rem;
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  float: center;
}

#editor:focus {
  outline: none;
}

.btn {
  float: right;
}

#preview {
  width: 100%;
  margin-top: 16px;
  border: solid;
  border: 2px solid black;
  border-radius: 4px;
  min-height: 20rem;
  background-color: white;
}

h1 {
  text-align: center;
}

body {
  background-color: #f2fcfd;
}
